body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
.name-color {
  color: rgba(247, 166, 17, 0.808);
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding-left: 2%;
}

.half-width img {
  width: 80%;
}

.hire-me-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 8px;
  font-size: larger;
  font-weight: bold;
  color: white;
}
.hire-me-button:hover {
  color: rgba(40, 183, 240, 0.747);
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  box-shadow: 10px 10px 20px rgb(181, 214, 228);
  border-radius: 3px;
  border-left: 5px solid orange;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#baby-experience {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
#full-experience {
  border-left: 7px solid;
  border-image: linear-gradient(BLUE, CYAN);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  color: darkorange;
}
